# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Node
node_modules/
npm-debug.log*
.npm

# React build
/build

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker volumes
.temporal/

# Logs
*.log
